<div style="position:relative;display:block;">
    <md-button class="md-fab" aria-label="Close Video" ng-click="close()" style="position:absolute;top:10px;right:10px;">
        <md-icon md-svg-src="assets/svg/menu.svg"></md-icon>
    </md-button>
    <div ng-if="video" style="height:360px;min-height:360px;">
        <youtube-video video-url="video" player-width="'100%'" player-height="'360px'" player-vars="{autoplay:1,showinfo:0}"></youtube-video>
    </div>
    <div ng-if="!video" style="height:240px;min-height:240px;background-image:url(/assets/images/sheet-music.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;"></div>
</div>