<div layout="row" layout-align="center center" layout-padding flex class="signup-container">
	<form flex-gt-md="33" flex-md="50" flex name="signupForm" class="md-whiteframe-z1">
		<div layout="row">
			<md-input-container flex>
				<label>First Name</label>
				<input type="text" name="firstname" ng-model="signupCtrl.firstname" required>
			</md-input-container>
			<md-input-container flex>
				<label>Last Name</label>
				<input type="text" name="lastname" ng-model="signupCtrl.lastname" required>
			</md-input-container>
		</div>
		<md-input-container>
			<label>Email</label>
			<input type="email" name="email" ng-model="signupCtrl.email" required>
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input type="password" name="password" ng-model="signupCtrl.password" required>
		</md-input-container>
		<div class="md-padding" layout="row">
			<md-button flex class="md-raised md-primary" ng-click="signupCtrl.signUp()">Sign Up</md-button>
		</div>
		<div layout="row" layout-align="center center" layout-padding>
			<a ui-sref="app.login">Already have an account?</a>
		</div>
	</form>
</div>